{% extends "base_template.html" %}
{% block title %}SED-ML editorial board{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><i class="fa fa-fw fa-wrench"></i> SED-ML Editors</h1>
        <p>
            The SED-ML specification is written by an editorial board consisting of five editors. They are elected by
            the SED-ML community (members of the <a href="https://groups.google.com/forum/#!forum/sed-ml-discuss"
                                                    target="_blank">sed-ml-discuss mailing list</a>) and serve for
            3-year terms
            as volunteers.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="thumbnail" style="border: 0;">
            <img src="images/people/nickerson_bio.jpg" alt="David Nickerson" class="img-rounded" style="height: 200px;">
            <div class="caption">
                <p style="font-weight: bold">David Nickerson (editor, elected 2015-2017)</p>
                <p>
                    <a href="https://about.me/david.nickerson/">David Nickerson</a> (PhD in Bioengineering)
                    is a Senior Research Fellow in the <a href="http://www.abi.auckland.ac.nz"
                                                          class="external text"
                                                          title="http://www.abi.auckland.ac.nz/">Auckland
                    Bioengineering Institute</a> where he leads the Auckland Kidney
                    Physiome project. David is also involved in many aspects of the CellML project as well
                    as various cardiac modeling projects.
                    He also develops several CellML-related software tools and is the current CellML
                    delegate to the COMBINE coordination group.
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail" style="border: 0;">
            <img src="images/people/lucian_bio.jpg" alt="Lucian Smith" class="img-rounded" style="height: 200px;"/>
            <div class="caption">
                <p style="font-weight: bold">Lucian Smith (editor, elected 2016-2018)</p>
                <p>
                    Lucian Smith (PhD. in Biochemistry) works as a Research Scientist for both the
                    University of Washington with the <a href="http://sys-bio.org/">Sauro lab</a>, and for
                    Caltech with the <a href="http://sbml.org/About#The_SBML_Team">SBML Team</a>. He is the
                    co-creator of <a href="http://antimony.sourceforge.net/">Antimony</a> and, more
                    recently, of <a href="http://phrasedml.sf.net/">phraSED-ML</a>, and has been an SBML
                    editor, working extensively with the SBML Hierarchical Model Composition specification.
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail" style="border: 0;">
            <img src="images/people/koenig_bio.jpg" alt="Matthias Koenig" class="img-rounded" style="height: 200px;"/>
            <div class="caption">
                <p style="font-weight: bold">Matthias K&ouml;nig (editor, elected 2017-2020)</p>
                <p>
                    Matthias K&ouml;nig (PhD. in Biophysics) leads an independent <a
                        href="https://www.livermetabolism.com">junior research group</a>
                    in computational modeling of the liver within the German LiSyM consortium.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="thumbnail" style="border: 0;">
            <img src="images/people/brett_bio.png" alt="Brett Olivier" class="img-rounded" style="height: 200px;"/>
            <div class="caption">
                <dt>Brett Olivier (editor, elected 2015-2017)
                <dt>
                <dd>
                    Brett G. Olivier (Ph.D. in Biochemistry) is a Researcher in the Systems Bioinformatics
                    group at the <a href="http://www.ibi.vu.nl/sysbio/doku.php/group/start">VU University
                    Amsterdam </a>. His interests range from fundamental theoretical research (metabolic
                    regulation analysis, control analysis, constraint based modelling) to software design
                    and development (<a href="http://cbmpy.sourceforge.net">CBMPy</a>,
                    <a href="http://pysces.sourceforge.net">PySCeS</a>,
                    <a href="http://jjj.biochem.sun.ac.za">JWS Online</a>) and the development and
                    implementation of open modelling standards.
                </dd>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail" style="border: 0;">
            <img src="images/people/waltemath_bio.jpg" alt="Dagmar Waltemath" class="img-rounded"
                 style="height: 200px;"/>
            <div class="caption">
                <p style="font-weight: bold"> Dagmar Waltemath (editor, elected 2015-2020)</p>
                <p>
                    <a href="http://www.sbi.uni-rostock.de/team/single/dagmar-waltemath/" class="external text"
                       title="Dagmar Waltemath">Dagmar Waltemath</a> (Ph.D. in Computer Science) is a junior
                    research group
                    leader at the <a href="http://www.sbi.uni-rostock.de/" class="external text"
                                     title="http://www.sbi.uni-rostock.de/" rel="nofollow">Systems Biology and
                    Bioinformatics group</a> at Rostock University (Germany).
                    Her group works on improving the management of computational models in standard formats and
                    associated
                    simulations in SED-ML format (<a href="http://www.sbi.uni-rostock.de/sems">SEMS</a>).
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h1>Editorial board meetings</h1>
    </div>
    <div class="col-md-4">
        <div class="thumbnail" style="border: 0;">
            <img src="images/meetings/HARMONY2017.jpg" class="img-rounded" />
            <div class="caption">
                <p style="font-weight: bold"> HARMONY2017</p>
                <p>
                    Meeting in Seattle, WA, US during HARMONY2017. Getting ready for the L1V3 release.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h1>Past members of the SED-ML editorial board</h1>
        <table class="table table-responsive">
            {% for e in editors %}
            {% if not e.active %}
            <tr>
                <td>
                    <img src="images/people/{{ e.image }}" alt="{{ e.name }}" class="img-rounded"
                         style="height: 80px;"/>
                </td>
                <td>
                    <dt>{{ e.name }} (editor, elected {{ e.term }})</dt>
                    <dd>{{ e.text }}</dd>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}