{% extends "base_template.html" %}
{% block title %}SED-ML editorial board{% endblock %}

{% block content %}
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Contact us/h1>
    </div>
</div>

<!-- main -->
<div class="row">
    <div class="col-lg-12">
        <p>
            SED-ML is a community effort, involving software developers of various simulation tools and model
            representation formats. Our effort values all opinion and contributions. If you have a question,
            want to discuss the evolution of SED-ML, want to voice an opinion, write and subscribe
            to <a href="https://groups.google.com/forum/#!forum/sed-ml-discuss" target="_blank">sed-ml-discuss</a> on
            google groups.
        </p>
        <p>
            The SED-ML specification is written by an editorial board. If you want to directly contact the editors,
            please send a mail to <a href="mailto:sed-ml-editors@googlegroups.com" target="_blank">sed-ml-editors AT
            googlegroups.com</a>.
        </p>
        <p>
            The SED-ML github repository is available at <a
                href="https://github.com/SED-ML">https://github.com/SED-ML</a>.
        </p>
        <p>
            To report a bug or record an issue with the current specification, please submit an item to the <a
                href="https://sourceforge.net/p/sed-ml/sed-ml-l1v2/">L1V2 tracker</a>.
        </p>
        <p>
            To record a feature request with future specifications, please submit an item to the <a
                href="https://sourceforge.net/p/sed-ml/feature-requests/">feature request tracker</a>.
        </p>
    </div>
</div>
{% endblock %}