{% extends "base_template.html" %}
{% block title %}SED-ML examples{% endblock %}

{% block content %}
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">

    </div>
</div>

<!-- main -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><i class="fa fa-fw fa-line-chart"></i> SED-ML examples</h1>

        <h2>L1V3 specification examples</h2>
        <table class="table table-responsive">
            <tbody>
            <tr>
                <th> COMBINE Archive</th>
            </tr>
            {% for archive in ['L1V3_ikappab', 'L1V3_leloup-sbml', 'L1V3_lorenz-cellml', 'L1V3_lorenz-sbml', 'L1V3_oscli-nested-pulse', 'L1V3_parameter-scan-2d', 'L1V3_plotting-data-csv',
               'L1V3_plotting-data-numl', 'L1V3_repeated-scan-oscli', 'L1V3_repeated-steady-scan-oscli', 'L1V3_repeated-stochastic-runs',
               'L1V3_repressilator', 'L1V3_vanderpol-cellml', 'L1V3_vanderpol-sbml'] %}
            <tr>
                <td><a href="./examples/L1V3/{{ archive }}.omex"><i class="fa fa-fw fa-archive"></i>{{ archive }}.omex</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        Download all L1V3 specification archives: <a href="./examples/L1V3/SED-ML_L1V3_examples.zip"><i class="fa fa-fw fa-download"></i> L1V3 examples</a>



        <h2>Other examples (COMBINE archives)</h2>
        <p>
        <dt>SED-ML test suite
            (<a href="https://github.com/SED-ML/sedml-test-suite">https://github.com/SED-ML/sedml-test-suite</a>)</dt>
        <dd>SED-ML examples for testing the implementation.</dd>
        </p>
        <p>
        <dt>JWS Online simulation database
            (<a href="https://jjj.bio.vu.nl/models/experiments/">https://jjj.bio.vu.nl/models/experiments/</a>)</dt>
        <dd>JWS Online SED-ML and Combine archives.</dd>
        </p>

    </div>
</div>
{% endblock %}