{% extends "base_template.html" %}
{% block title %}SED-ML: The Simulation Experiment Description Markup Language{% endblock %}

{% block content %}

<!-- overview -->
<div class="row">
    <div class="col-lg-8">
        <h1 class="page-header"><i class="fa fa-fw fa-home"></i> What is SED-ML?</h1>
        <p>
            Welcome to the home page of the <b>Simulation Experiment
            Description Markup Language</b> (SED-ML). SED-ML is an XML-based format
            for encoding simulation setups, to ensure exchangeability and
            reproducibility of simulation experiments.
        </p>
        <p>
            The current version is <a href="documents/sed-ml-L1V3.pdf" target="_blank"><b>SED-ML Level 1 Version
            3</b></a>.
            For additional specification documents and proposals see the <a href="specifications.html" title="Specifications">Specifications</a>
            page.
        </p>
        <a href="documents/sed-ml-L1V3.pdf" target="_blank">
            <span class="btn btn-default" style="font-weight: bold;">
                <img alt="logo" src="images/logoSEDML_w90_t.png"/>
                L1V3 (official specification document)
                <img alt="pdf" src="images/pdf.png"/>
            </span>
        </a>

        <h2>Introduction</h2>
        <p>
            The increasing use of computational simulation experiments to inform modern biological
            research creates new challenges to annotate, archive, share and reproduce such experiments.
            The recently published <a href="http://biomodels.net/miase">Minimum Information About a Simulation
            Experiment (MIASE)</a>
            proposes a minimal set of information that should be provided to allow the reproduction of simulation
            experiments
            among users and software tools.
        </p>

        <p>
            SED-ML encodes in a computer-readable exchange format the information required by MIASE to enable
            reproduction of simulation experiments. It has been developed as a community project and it is defined
            in a detailed technical specification and additionally provides an XML schema.
        </p>
        <p>
            SED-ML covers the description of the most frequent type of simulation experiments in the area,
            namely time course simulations. SED-ML documents specify
        <ul>
            <li>which experimental data to use in an experiment,</li>
            <li>which models to use in an experiment,</li>
            <li>modifications to apply on the models before using them,</li>
            <li>which simulation procedures to run on each model,</li>
            <li>what analysis results to output,</li>
            <li>and how the results should be presented.</li>
        </ul>
        These descriptions are independent of the underlying model implementation.
        SED-ML is a software-independent format for encoding the description of simulation experiments;
        it is not specific to particular simulation tools.
        </p>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> News</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    {% for n in news %}
                    {% if n.show == True %}
                    <a href="{{ n.link }}" class="list-group-item">
                        <span class="badge">{{ n.date }}</span>
                        <i class="fa fa-fw {{ n.icon }}"></i> <b>{{ n.title }}</b><br/>
                        {{ n.text }}
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>Overview</h2>
        <p>
            SED-ML is build of the following main objects: the <code>DataDescription</code>, the <code>Model</code>,
            the <code>Simulation</code>, the <code>Task</code>, the <code>DataGenerator</code>, and
            the <code>Output</code>.
        </p>
        <img src="images/sedml/main.svg" width="600"/>

        <h3>DataDescription</h3>
        <p>The <code>DataDescription</code> class allows to specify datasets for a simulation experiment. Such data can be used
        for instance for parametrization of model simulations or to plot data together with simulation results.
        </p>
        <h3>Model</h3>
        <p>
            The <code>Model</code> class is used to reference the models
            used in the simulation experiment. SED-ML itself is
            independent of the model encoding underlying the models.
            The only requirement is that the model needs to be
            referenced by using an unambiguous identifier which allows
            for finding it, for example using a <a
                href="http://biomodels.net/miriam/#miriam_uris"
                title="MIRIAM URI">MIRIAM URI</a>. To specify the
            language in which the model is encoded, a set of
            predefined <a href="#sedmlLanguage">language URNs</a> is
            provided.
        </p>
        <p>
            The SED-ML <code>Change</code> class allows the application
            of changes to the referenced models, including changes on
            the attributes, e.g. changing the value of an
            observable, computing the change of a value using
            mathematics, or general changes on any element of the
            model representation that is addressable, such as by XPath
            expressions, e.g. substituting a piece of XML by an
            updated one.
        </p>

        <h3>Simulation</h3>
        <p>
            The <code>Simulation</code> class defines the simulation
            settings and the steps taken during simulation. These
            include the particular type of simulation and the
            algorithm used for the execution of the simulation;
            preferably an unambiguous reference to such an algorithm
            should be given, using a controlled vocabulary, or
            ontologies. One example for an ontology of simulation
            algorithms is the <em>Kinetic Simulation Algorithm
            Ontology</em> <a href="http://biomodels.net/kisao/">KiSAO</a>.
            Further information encodable in the Simulation class
            includes the step size, simulation duration, and other
            simulation-type dependent information.
        </p>

        <h3>Task</h3>
        <p>
            SED-ML makes use of the notion of a <code>Task</code> class
            to combine a defined model (from the Model class) and a
            defined simulation setting (from the Simulation class). A
            task always holds one reference each. To refer to a
            specific model and to a specific simulation, the
            corresponding IDs are used.
        </p>

        <h3>DataGenerator</h3>
        <p>
            The raw simulation result sometimes does not correspond
            to the desired output of the simulation, e.g. one might
            want to normalise a plot before output, or apply
            post-processing like mean-value calculation. The <code>DataGenerator</code>
            class allows for the encoding of such post-processings
            which need to be applied to the simulation result before
            output. To define data generators, any addressable
            variable or parameter of any defined model (from instances
            of the Model class) may be referenced, and new entities
            might be specified using MathML definitions.
        </p>
        <h3>Output</h3>
        <p>
            The <code>Output</code> class defines the output of the
            simulation, in the sense that it specifies <em>what</em>
            shall be plotted in the output. To do so, an output type
            is defined, e.g. 2D-plot, 3D-plot or data table, and the
            according axes or columns are all assigned to one of the
            formerly specified instances of the DataGenerator class.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>L1V3 UML diagrams</h2>
        {% with width=600 %}
        {% for uml in ['00_Legend', 'sedBase', 'variable', 'parameter', 'dataDescription', 'dataSource', 'slice',
                        'model', 'change', 'simulation',
                        'abstractTask', 'repeatedTask', 'range', 'dataGenerator', 'output'] %}
        <h3>{{ uml }}</h3>
        <img src="images/sedml/uml/{{ uml }}.svg""/>
        {% endfor %}
        {% endwith %}
    </div>
</div>

{% endblock %}
