{% extends "base_template.html" %}
{% block title %}SED-ML | Publications{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><i class="fa fa-fw fa-file-text"></i> Publications</h1>
        <h2>How to cite?</h2>
        <ul>
            {% for p in publications %}
            {% if p.howToCite %}
            <li>
                <dl>
                    <dt>
                        <strong>{{ p.authors }}</strong>
                    </dt>
                    <dd>
                        <div class="pubtitle">{{ p.title }}</div>
                    </dd>
                    <dd>
                        <div class="pubjournal"><em>{{ p.journal }}</em></div>
                    </dd>
                    {% if p.link %}
                    <dd>
                        <a href="{{ p.link }}">{{ p.link }}</a>
                    </dd>
                    {% endif %}
                    {% if p.pmid %}
                    <dd>
                        <a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ p.pmid }}">PMID:{{ p.pmid }}</a>
                    </dd>
                    {% endif %}
                </dl>
            </li>
            {% endif %}
            {% endfor %}
        </ul>

        {% if presentations %}
        <h2>Presentations</h2>
        <table class="table table-responsive">
            <thead>
            <tr>
                <th></th>
                <th>Date</th>
                <th>Author</th>
                <th>Title</th>
            </tr>
            </thead>
            <tbody>
            {% for p in presentations %}
            <tr>
                <td>
                    <a href="presentations/{{ p.file }}" target="_blank">
                        <img alt="pdf" src="images/pdf.png" height="50"/></a>
                </td>
                <td>{{ p.date }}</td>
                <td>{{ p.author }}</td>
                <td>{{ p.title }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}


        <h2>Publications that report contributions to SED-ML ecosystem</h2>
        <ul>
            {% for p in publications %}
            <li>
                <dl>
                    <dt>
                        <strong>{{ p.authors }}</strong>
                    </dt>
                    <dd>
                        <div class="pubtitle">{{ p.title }}</div>
                    </dd>
                    <dd>
                        <div class="pubjournal"><em>{{ p.journal }}</em></div>
                    </dd>
                    <!--
                    <dd>
                        <a href="{{ p.link }}">{{ p.link }}</a>
                    </dd>
                    -->
                    {% if p.doi %}
                    <dd>
                        DOI: <a href="https://doi.org/{{ p.doi }}">{{ p.doi }}</a>
                    </dd>
                    {% endif %}
                    {% if p.pmid %}
                    <dd>
                        PMID: <a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ p.pmid }}">{{ p.pmid }}</a>
                    </dd>
                    {% endif %}
                </dl>
            </li>
            {% endfor %}
        </ul>

    </div>
</div>
{% endblock %}