{% extends "base_template.html" %}
{% block title %}SED-ML publications{% endblock %}

{% block content %}
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Contact us/h1>
    </div>
</div>

<!-- main -->
<div class="row">
    <div class="col-lg-12">
        <h1>How to cite?</h1>


        <h1>Publications</h1>
        <ul>
            <li>
                <dl>
                    <dt>
                        <strong>Waltemath D., Adams R., Bergmann F.T., Hucka M., Kolpakov F., Miller A.K., Moraru I.I.,
                            Nickerson D., Snoep J.L.,Le Novère, N.</strong>
                    </dt>
                    <dd style="margin-left: 0pt;">
                        <div class="pubtitle">Reproducible computational biology experiments with SED-ML - The
                            Simulation Experiment Description Markup Language.
                        </div>
                    </dd>
                    <dd style="margin-left: 0pt;">
                        <div class="pubjournal"><em>BMC Systems Biology 2011, 5:198 </em></div>
                    </dd>
                    <dd style="margin-left: 0pt;">
                        [<a href="http://www.biomedcentral.com/1752-0509/5/198/abstract"
                            title="Publication on BioMedCentral">BMC Syst Biol</a>]
                    </dd>
                </dl>
            </li>

            <li>
                <dl>
                    <dt>
                        <strong>Dagmar K&ouml;hn, Nicolas Le Novère</strong>
                    </dt>
                    <dd style="margin-left: 0pt;">
                        <div class="pubtitle">SED-ML – An XML Format for the Implementation of the MIASE Guidelines.
                        </div>
                    </dd>
                    <dd style="margin-left: 0pt;">
                        <div class="pubjournal"><em>Lecture Notes in Computer Science, Computational Methods in Systems
                            Biology 2008</em></div>
                    </dd>
                    <dd style="margin-left: 0pt;">
                        [<a href="http://www.springerlink.com/content/n67n137071431xt7/"
                            title="Publication on Springerlink">Springerlink</a>]
                    </dd>
                </dl>
            </li>
        </ul>

    </div>
</div>
{% endblock %}