{% extends "base_template.html" %}
{% block title %}SED-ML publications{% endblock %}

{% block content %}
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><i class="fa fa-fw fa-newspaper-o"></i> Publications</h1>
    </div>
</div>

<!-- main -->
<div class="row">
    <div class="col-lg-12">
        <h2>How to cite?</h2>
        <ul>
            {% for p in publications %}
            {% if p.id == 'Waltemath2011' %}
            <li>
                <dl>
                    <dt>
                        <strong>{{ p.authors }}</strong>
                    </dt>
                    <dd>
                        <div class="pubtitle">{{ p.title }}</div>
                    </dd>
                    <dd>
                        <div class="pubjournal"><em>{{ p.journal }}</em></div>
                    </dd>
                    {% if p.link %}
                    <dd>
                        <a href="{{ p.link }}">{{ p.link }}</a>
                    </dd>
                    {% endif %}
                    {% if p.pmid %}
                    <dd>
                        <a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ p.pmid }}">PMID:{{ p.pmid }}</a>
                    </dd>
                    {% endif %}
                </dl>
            </li>
            {% endif %}
            {% endfor %}
        </ul>


        <h2>SED-ML publications</h2>
        <ul>
            {% for p in publications %}
            <li>
                <dl>
                    <dt>
                        <strong>{{ p.authors }}</strong>
                    </dt>
                    <dd>
                        <div class="pubtitle">{{ p.title }}</div>
                    </dd>
                    <dd>
                        <div class="pubjournal"><em>{{ p.journal }}</em></div>
                    </dd>
                    <dd>
                        <a href="{{ p.link }}">{{ p.link }}</a>
                    </dd>
                    {% if p.pmid %}
                    <dd>
                        <a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ p.pmid }}">PMID:{{ p.pmid }}</a>
                    </dd>
                    {% endif %}
                </dl>
            </li>
            {% endfor %}
        </ul>

    </div>
</div>
{% endblock %}