{% extends "base_template.html" %}
{% block title %}SED-ML URNs{% endblock %}

{% block content %}
<h1 class="page-header"><i class="fa fa-fw fa-paper-plane-o"></i> SED-ML URNs</h1>
<div class="row">
    <div class="col-lg-12">
    <h3 id="languages">Language URNs</h3>
    <p>
        The following languages have to our knowledge so far
        been used with SED-ML. To specify the language of a model
        in the Model class, please use the according URN given.
        The general scheme for a language URN in SED-ML is <code>urn:sedml:language:<i>{ language
            name and version }</i></code>.
    </p>
    <table class="table table-responsive">
        <thead>
        <tr>
            <th> Language</th>
            <th> URN</th>
            <th> Specification URL</th>
        </tr>
        </thead>
        <tbody>
        {% for entry in languages %}
        <tr>
            <td>{{ entry.language }}</td>
            <td><code>{{ entry.urn }}</code></td>
            <td>{% if entry.url %}<a href="{{ entry.url }}" target="_blank">{{ entry.url }}</a>{% endif %}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3 id="formats">Data Format URNs</h3>
    <p>To specify the format of a resource please use the according URN given.
        The general scheme for a format URN in SED-ML is <code>urn:sedml:format:<i>{ format name }</i></code>.
    </p>
    <table class="table table-responsive">
        <thead>
        <tr>
            <th> Data Format</th>
            <th> URN</th>
        </tr>
        </thead>
        <tbody>
        {% for entry in formats %}
        <tr>
            <td>{{ entry.format }}</td>
            <td><code>{{ entry.urn }}</code></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3 id="symbols">Predefined Symbols</h3>
    <p> As described in the <a href="specifications.html">SED-ML specification</a> some modeling
        languages use predefined symbols or implicit variables. In order to
        handle such variables the SED-ML introduced symbol URNs. The general scheme for a symbol
        URN in SED-ML is <code>urn:sedml:symbol:<i>{ symbolName }</i></code>.
    </p>
    <table class="table table-responsive">
        <thead>
        <tr>
            <th> Language</th>
            <th> URN</th>
            <th> Definition</th>
        </tr>
        </thead>
        <tbody>
        {% for entry in symbols %}
        <tr>
            <td>{{ entry.language }}</td>
            <td><code>{{ entry.urn }}</code></td>
            <td>{{ entry.definition }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>


{% endblock %}}